.wrapper {
  display: flex;
  justify-content: space-between;
  width: 1400px;
  margin: 64px auto;
  .title h1 {
    font: 600 32px "Montserrat";
    color: white;
  }
  .paragraph {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    p {
      font: 400 20px "Montserrat";
      color: white;
    }
  }
}

@media (max-width: 480px) {
  .wrapper {
    display: flex;
    justify-content: space-between;
    width: 600px;
    margin: 40px 0 0 90px;
    .title h1 {
      font: 500 20px "Montserrat";
      color: white;
    }
    .paragraph {
      display: flex;
      justify-content: space-between;
      gap: 20px;
      p {
        font: 300 20px "Montserrat";
        color: white;
      }
    }
  }
}
