.main {
  display: flex;
  position: relative;
  margin: 200px auto;
}
.contacts {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  margin: 55px 55px;
  .follow {
    writing-mode: vertical-lr;
    font: 700 18px "Montserrat";
    color: white;
  }

  .imgInst {
    background-image: url(../../assets/img2.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 10px;
    height: 10px;
  }
  .imgTwit {
    background-image: url(../../assets/img3.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 10px;
    height: 10px;
  }
}

.info {
  margin: auto;
  width: 950px;
  .guide {
    display: flex;
    align-items: center;
    gap: 10px;
    .hr {
      width: 50px;
      height: 2.4px;
      background: #fbd784;
    }
    .paragraphGuide {
      font: 500 18px "Montserrat";
      color: #fbd784;
      text-transform: uppercase;
    }
  }

  .mainInfo {
    font: 400 80px "Montserrat";
    color: white;
    text-shadow: 1px 1px white;
  }

  .scroll {
    display: flex;
    gap: 5px;
    .scrollDown {
      font: 600 16px "Montserrat";
      color: white;
    }
    .scrollArrow {
      background-image: url(../../assets//img4.svg);
      background-size: cover;
      background-repeat: no-repeat;
      width: 16px;
      height: 24px;
      mix-blend-mode: lighten;
    }
  }
}

@media (max-width: 480px) {
  .main {
    display: flex;
    position: relative;
    margin: 90px auto;
    width: 500px;
  }
  .contacts {
    position: absolute;
    display: flex;
    align-items: center;
    margin-left: 35px;
    gap: 10px;
    .follow {
      writing-mode: vertical-lr;
      font: 500 10px "Montserrat";
      color: white;
    }

    .imgInst {
      background-image: url(../../assets/img2.png);
      background-size: cover;
      background-repeat: no-repeat;
      width: 10px;
      height: 10px;
    }
    .imgTwit {
      background-image: url(../../assets/img3.png);
      background-size: cover;
      background-repeat: no-repeat;
      width: 15px;
      height: 12px;
    }
  }

  .info {
    margin: 70px 0 0 100px;
    width: 250px;
    .guide {
      display: flex;
      align-items: center;
      gap: 5px;
      .hr {
        width: 20px;
        height: 2.3px;
        background: #fbd784;
      }
      .paragraphGuide {
        font: 500 10px "Montserrat";
        color: #fbd784;
        text-transform: uppercase;
      }
    }

    .mainInfo {
      font: 300 15px "Montserrat";
      color: white;
      text-shadow: 0px 0px white;
    }

    .scroll {
      display: flex;
      gap: 5px;
      .scrollDown {
        font: 400 10px "Montserrat";
        color: white;
      }
      .scrollArrow {
        background-image: url(../../assets//img4.svg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 10px;
        height: 15px;
        mix-blend-mode: lighten;
      }
    }
  }
}
